.card {
    width: 75%;
    max-width: 450px;
    padding: 0rem 1rem 1rem 1rem ;
    border: 1px solid rgb(79, 79, 233);
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: 300;
    font-size: 20px;
    padding: 0rem 0rem 1rem 0rem ;

  }
  
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    h3 {
      color: orange;
    }
  }
  